p { color:rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    b

    }
    body {
        background-color: rgb(92, 149, 235);
    }

    h1{
        color: rgb(66, 63, 230);
        font-variant-numeric: diagonal-fractions;
        font-family: Verdana, Geneva, Tahoma, sans-serif
        ;
    }
    h2{ 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
    }
    